// Transaction Form Component Styles

.btn-group-toggle .btn {
  cursor: pointer;

  &.active {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
}

.invalid-feedback {
  display: block;
}

.form-control.is-invalid {
  border-color: #f5365c;
}

.breadcrumb-dark {
  background-color: transparent;

  .breadcrumb-item {
    a {
      color: rgba(255, 255, 255, 0.8);

      &:hover {
        color: #fff;
      }
    }

    &.active {
      color: #fff;
    }

    + .breadcrumb-item::before {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
